
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=
REVERB_PORT=
REVERB_SCHEME=

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"


VITE_STRIPE_PUBLIC=

VITE_MAPBOX_API_KEY=

VITE_GOOGLE_API_KEY=

VITE_PUBLIC_BASE_URL=

VITE_PUBLIC_STREAM_API_KEY=
VITE_STREAM_API_SECRET=


VITE_GEMINI_PUBLIC_KEY=

VITE_PUBLIC_LIVEKIT_WS_URL=